.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 20px);
    grid-gap:2px;
    grid-template-rows: repeat(16,20px);
}

.orange{
    background: #ff7100;
}

.beige{
    background: #ffb26d;
}

.brown{
    background: #a84a00;
}

.grey{
    background: #cccccc;
}

.grey2{
    background: #999;
}

.grey3{
    background: #666;
}

.grey4{
    background: #333;
}

.tablecloth{
    margin: auto;
    width: 345px;
    height: 195px;
    border: 1px solid #8a8a8a;
    background-image: linear-gradient(transparent 50%, rgba(216,62,59,0.5) 0), 
    linear-gradient(to right, transparent 50%, rgba(216,62,59,0.5) 0);
    background-size: 43px 43px;
}